<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <div class="container mt-4 mb-4">
        <div class="page-header">
            <h2>Cadastro de {{titulo}}</h2>
        </div>

        <form action="/anuncio/cadastrar" method="post">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo">
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" id="descricao" name="descricao">
            </div>

            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-select" aria-label="Default select example" name="categoria" id="categoria">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade">
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="number" class="form-control" id="preco" name="preco">
            </div>

            <button type="submit" class="btn btn-success mt-2">Cadastrar</button>
        </form>
    </div>

    <div class="container">
        <div class="page-header">
            <h2>Lista de {{titulo}}</h2>
        </div>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Anunciante</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for anuncio in anuncios %}
                    <tr>
                        <td>{{ anuncio.titulo }}</td>
                        <td>{{ anuncio.descricao }}</td>
                        <td>{{ anuncio.quantidade }}</td>
                        <td>{{ anuncio.preco }}</td>
                        <td>{{ anuncio.categoria_id }}</td>
                        <td>{{ anuncio.usuario_id }}</td>
                        <td><a class="btn btn-outline-primary" href="/anuncio/editar/{{anuncio.id}}">Editar</a></td>
                        <td><a class="btn btn-outline-danger" href="/anuncio/remover/{{anuncio.id}}">Remover</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <a class="btn btn-outline-secondary" href={{url_for('index')}}>Voltar</a>
    </div>
</body>
</html>