<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - Detalhes do {{titulo}}</title>
</head>
<body>
    <h2>Detalhes do {{titulo}}</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nome }}</td>
            </tr>
        </tbody>
    </table>

    <a href={{url_for("rota_categoria")}}>Voltar</a>
</body>
</html>