<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - Edição de {{titulo}}</title>
</head>
<body>
    <h2>Edição de {{titulo}}</h2>

    <form action="/categoria/editar/{{categoria.id}}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome", value="{{categoria.nome}}">

        <input type="submit" value="Editar">
    </form>

    <a href={{url_for("rota_categoria")}}>Cancelar</a>
</body>
</html>