<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - Comprar, vender e desapegar</title>
</head>
<body>
    <h1>Bem vindo ao TrocaFácil</h1>
    <menu>
        <ul>
            <li>
                <a href={{url_for("rota_usuario")}}>Cadastrar Usuário</a>
            </li>
            <li>
                <a href={{url_for("rota_anuncio")}}>Cadastrar Anúncio</a>
            </li>
            <li>
                <a href={{url_for("rota_categoria")}}> Cadastrar Categoria</a>
            </li>
            <li>
                <a href={{url_for("pergunta_anuncio")}}>Perguntas & Respostas</a>
            </li>
            <li>
                <a href={{url_for("compra_anuncio")}}>Compras realizadas</a>
            </li>
            <li>
                <a href={{url_for("anuncio_favorito")}}>Anúncios favoritados</a>
            </li>
            <li>
                <a href={{url_for("relatorio_venda")}}>Relatório de Vendas</a>
            </li>
            <li>
                <a href={{url_for("relatorio_compra")}}>Relatório de Compras</a>
            </li>
            <li>
                <a href={{url_for("logout")}}>Logout</a>
            </li>
        </ul>
    </menu>
</body>
</html>