<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - {{titulo}}</title>
</head>
<body>
    <h2>{{titulo}}</h2>

    <form action="/anuncios/pergunta/enviar/{{anuncio.id}}" method="post">
        <label for="texto">Qual a sua pergunta?</label>
        <input type="text" id="texto" name="texto">

        <input type="submit" value="Enviar">
    </form>

    <h2>Perguntas encaminhadas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Mensagem</th>
                <th>Anúncio</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for pergunta in perguntas %}
                <tr>
                    <td>{{ pergunta.id }}</td>
                    <td>{{ pergunta.texto }}</td>
                    <td>{{ pergunta.anuncio_id }}</td>
                    <td>{{ pergunta.usuario_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href={{url_for('enviar_resposta')}}>Responder</a>
    <a href={{url_for('index')}}>Voltar</a>
</body>
</html>