<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrocaFácil - {{titulo}}</title>
</head>
<body>
    <h2>{{titulo}}</h2>

    <form action="cadastrar_usuario" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">

        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email">

        <label for="password">Password:</label>
        <input type="text" id="password" name="password">

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone">

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco">
        
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>